<div class="site-section">
    <div class="container" >
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th >Id</th>
                    <th>First Name</th>
                    <th>Last Name</th> 
                    <th>Actions</th>
                </tr>
            </thead>
            
                    
                
                <tr *ngFor='let u of users'>
                    <th scope="row">1</th>
                     <td>{{u.id}}</td>
                    <td>{{u.lastName}}</td>
                    <td>{{u.firstName}}</td>
                    <td><button class="btn btn-success" (click)='goToDisplayUser(u.id)'> Display Admin</button></td>
                    <td> <button class="btn btn-danger" (click) ='deleteUser(u.id)' > Delete Admin</button> </td>
                    <td><button class="btn btn-success"  (click)='goToEditUser(u.id)'> Edit Admin</button></td>
                </tr>
                <tr>
            
        </table>
    </div>
</div>



